<div ng-controller="MainCtrl as main">
    <div class="col-md-4">
        <h2>Stories</h2>
        <div class="callout"
            ng-repeat="story in main.stories"
            ng-click="main.setCurrrentStory(story)">
            <h4>{{story.title}}</h4>
            <p>{{story.description}}</p>
        </div>

            <br/>
            <a class="'btn btn-primary" ng-click="main.createStory()">
                    <span class="glyphicon glyphicon-plus"></span>
            </a>

    </div>

</div>